<header>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <strong>Articles</strong>
          </a>
          
        </div>
      </div>
    </header>

    <main role="main">

      <div class="album py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>Title</th>
                    <th>URL</th>
                    <th>Created At</th>
                    <th>Author</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let aritcle of aritcles" (click)="open(content, aritcle)">
                    <td>{{aritcle.title}}</td>
                    <td>{{aritcle.url}}</td>
                    <td>{{aritcle.created_at}}</td>
                    <td>{{aritcle.author}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </main>


    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Article</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <pre>{{aritcle | json}}</pre>
      </div>
  </ng-template>

<div class="pre-loader" *ngIf="loader">
  <div class="loader"></div>
</div>
